.banner {
  padding: 5px 25px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.banner.success {
  color: #065f46;
  background-color: #ecfdf5;
}

.banner.warning {
  color: #92400e;
  background-color: #fffbeb;
}

.banner.error {
  color: #b45309;
  background-color: #fef2f2;
}

.banner.neutral {
  color: #1e40af;
  background-color: #eff6ff;
}
